.App-header {
  min-height: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.editorContainer {
  display: grid;
  grid-template-columns: 80% 20%;
}

trix-editor {
  min-height: 500px;
  max-height: 550px;
  overflow-y: scroll;
}
trix-editor div {
  font-size: 16px;
}

trix-editor::-webkit-scrollbar {
  display: none;
}

.editorSidebar {
  display: grid;
  grid-template-columns: 10% 90%;
}

.editorSidebar #linesMarker p {
  margin: 0;
  padding: 0 5px 0 5px;
  font-size: 16px;
  font-weight: 750;
  color: rgb(26, 207, 147);
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  cursor: pointer;
}

.editorSidebar h2 {
  text-align: center;
  margin: 5px 0 5px;
}

#newComment {
  display: none;
  position: absolute; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  top: calc(50% - 150px);
  left: calc(50% - (270px / 2));
  height: 300px;
  width: 270px;
  background-color: rgb(129, 129, 129);
  border: 1px solid #000;
  z-index: 2;
}

#newComment #commentLine {
  display: none;
}

#newComment #newCommentInfo {
  text-align: center;
  height: 45px;
  width: 200px;
  font-size: 16px;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  color: fieldtext;
  background-color: field;
}

#newComment #comment {
  height: 70px;
  width: 200px;
  font-size: 16px;
}

#newComment #createComment {
  height: 60px;
  width: 120px;
  border-radius: 10%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#newCommentBG {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
}

.commentsContainer {
  max-height: 480px;
  overflow-y: scroll;
}

.commentsContainer::-webkit-scrollbar {
  display: none;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.lineInput {
  justify-self: center;
  text-align: center;
  font-size: 16px;
  height: 40px;
  width: 95%;
  border-radius: 10px;
  background-color: rgb(26, 207, 147);
  cursor: pointer;
}

#lineComment {
  display: none;
  width: 95%;
  border-bottom: 1px solid #000;
  justify-self: left;
}

#lineComment h3 {
  margin: 10px 0 5px 0;
}

#lineComment p {
  margin: 0 0 10px 0;
  max-height: 80px;
  overflow-y: scroll;
}

#lineComment button {
  float: right;
  margin: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: rgb(235, 86, 41);
}

#lineComment p::-webkit-scrollbar {
  display: none;
}

#trix-toolbar {
  display: none;
}

.userInputs {
  position: fixed;
  top: 10px;
  right: 10px;
}

.userInputs input {
  text-align: center;
  margin-left: 10px;
  height: 30px;
  width: 50px;
  border-radius: 20%;
  cursor: pointer;
}

#formBG {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
}

#formContainer {
  position: absolute; 
  display: none;
  justify-content: center;
  align-content: center;
  left: calc(50% - 160px);
  height: auto;
  width: 320px;
  background-color: rgb(129, 129, 129);
  border: 1px solid #000;
  z-index: 2;
}

#userForm{
  margin: 10px;
  width: 300px;
}

#userForm fieldset{
  display: grid;
  justify-content: center;
}

#userForm label, 
#userForm legend {
  font-size: 20px;
}

#userForm input {
  height: 30px;
  font-size: 16px;
}

#userForm input[name="submit"] {
  text-align: center;
  font-size: 20px;
  height: 60px;
  width: 100px;
  margin: 15px;
  justify-self: center;
}

.docToolbar {
  height: 70px;
  width: 100%;
  margin: 1em 0 0 0;
  background-color: rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

.docToolbar>select,
.docToolbar>input {
  margin: 5px;
}

#docInfo {
  position: absolute;
  top: calc(5em + 35px);
  left: 10px;
}

#activeDoc {
  color: #fff;
  float: left;
  margin: 10px;
}

#openPermission {
  display: none;
  float: left;
  font-size: 16px;
  margin: 10px 5px 0 0;
}

#createPDF {
  display: none;
  margin: 10px 5px 0 0;
  height: 29px;
  width: 29px;
  padding: 0;
}

#createPDF img {
  height: 25px;
  width: 25px;
}

#docPermission {
  display: none;
  position: absolute;
  top: calc(5em + 22px);
  left: 0;
  width: 280px;
  height: auto;
  max-height: 300px;
  padding: 10px;
  background-color: whitesmoke;
  z-index: 1;
  border: black solid 2px;
}

#docPermission #permissionHeader {
  display: block;
}

#docPermission #permissionHeader button {
  float: left;
}

#docPermission #permissionHeader p {
  text-align: center;
}

#docPermission ul {
  padding-left: 10px;
  max-height: 190px;
  overflow-y: scroll;
}

#docPermission li {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

#docPermission li button {
  float: right;
  color: red;
}

#docPermission div {
  display: flex;
  justify-content: space-evenly;
}

#docPermission #newUser {
  width: 120px;
  font-size: 16px;
  text-align: center;
}

#docPermission #addUser {
  width: 80px;
  font-size: 20px;
  text-align: center;
}

#reload {
  text-align: center;
  font-size: 20px;
}

#docSelect {
  font-size: 16px;
  height: 30px;
}

#load {
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: 125px;
  border-radius: 10%;
  cursor: pointer;
}

#new {
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: 110px;
  border-radius: 10%;
  cursor: pointer;
}

#docCreate {
  display: none;
  position: absolute; 
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  top: calc(50% - 150px);
  left: calc(50% - (270px / 2));
  height: 300px;
  width: 270px;
  background-color: rgb(129, 129, 129);
  border: 1px solid #000;
  z-index: 2;
}

#docCreate #name {
  height: 40px;
  width: 200px;
}

#docCreate #create {
  height: 60px;
  width: 120px;
  border-radius: 10%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#docCreateBG {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
}

.App-footer {
  background-color: rgb(231, 231, 231);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}