.App-header {
  min-height: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.App-editor {
  min-height: 500px;
}

.App-toolbar {
  height: 70px;
  margin: 1em 0 0 0;
  background-color: rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

#docSelect {
  font-size: 16px;
  height: 30px;
}

#load {
  font-size: 16px;
  height: 30px;
  width: 120px;
  border-radius: 10%;
}

#save {
  font-size: 16px;
  height: 30px;
  width: 45px;
  border-radius: 10%;
}

.trix-editor {
  height: 400px;
}

.App-footer {
  background-color: rgb(231, 231, 231);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}